// $cta__color: #8c3eff;
$background__color: #ffffff;
$primary__text: #332F56;
$secondary__text: #511e69;
$button__color__primary:#613DB5;
$boxshadow__primary:#aa98d4;
$button__color__secondary:#d3c5f0;
$button__color__actionBackground:#DBF7F2;
$button__color__actionText:#59C4A2;
// $subHeading__text: #995df4;
// $tertiary__text: #995df4;
// $tooltip__border__color: #995df4;
// $tooltip__border__shadow: rgba(241, 99, 194, 0.14),
//   0px 3px 4px rgba(240, 72, 226, 0.12), 0px 1px 5px rgba(228, 33, 202, 0.2);
// $highlight__text: #ffcc00;
// $accent: #3f3759;
// $tooltip__body: #03063d;
// $tooltip__border: #7946eb;
// $tooltip__after__border: rgba(255, 255, 255, 0);
// $tooltip__border__shadow: rgba(195, 81, 240, 0.11),
//   -10px 0px 20px rgba(237, 193, 245, 0.11);
// $display__photo__shadow: rgba(195, 81, 240, 0.11),
//   -10px 0px 20px rgba(237, 193, 245, 0.11);

// $tooltip__before__shadow:rgba(235, 148, 17, 0.11);

//Measurements
$min_width: 320px;
$max_width: 1200px;
$medium-screens: 40em;
$large-screens: 64em;
$min_font: 16px;
$max_font: 20px;