@import "../../styles/_variables.scss";
@import '../../styles/_styles.scss';

.card{
    // background-color: turquoise;
    border:1px solid $button__color__primary;
    border-radius: 1em;
    width: 13em;
    // height: 15em;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding:1em;
    margin:1em ;
}
img{
   object-fit: cover;
   width: 11em;
   height: 10em;
}
.cardInfo{
    display: flex;
    flex-direction: row;
    height: 2.5em;
    overflow: hidden;
    text-overflow:ellipsis;
    justify-content: space-between;
    margin: .5em 0;
    width: 100%;
}
button{
    width: 100%;
}